{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin{% endblock %}

{% block body %}

    {% include 'layout/navbarDashboardAdmin.html.twig' %}

    <div class="dashboard-container">

        <h1 class="dashboard-container__title">Tableau de bord</h1>

        <div class="dashboard-container__first-section">

            <h2 class="dashboard-container__first-section__section-title">Blog</h2>
            <div class="dashboard-container__first-section__section-blog">
                <ul class="dashboard-container__first-section__section-blog__list">
                    <li class="dashboard-container__first-section__section-blog__list__list-item">Nb d'articles :</li>
                    <li class="dashboard-container__first-section__section-blog__list__list-item">Nb d'articles visibles :</li>
                    <li class="dashboard-container__first-section__section-blog__list__list-item">Nb d'articles non visibles :</li>
                </ul>
                <button class="dashboard-container__first-section__section-blog__button">
                    <a href="{{ path('app_article_index') }}" class="dashboard-container__first-section__section-blog__button__link">Voir plus</a>
                </button>
            </div>

            <h2 class="dashboard-container__first-section__section-title">Secteur</h2>
            <div class="dashboard-container__first-section__section-sector">
                <ul class="dashboard-container__first-section__section-sector__list">
                    <li class="dashboard-container__first-section__section-sector__list__list-item">Nb de secteur :</li>
                </ul>
                <button class="dashboard-container__first-section__section-sector__button">
                    <a href="{{ path('app_secteur_index') }}" class="dashboard-container__first-section__section-sector__button__link">Voir plus</a>
                </button>
            </div>

        </div>

        <div class="dashboard-container__second-section">

            <h2 class="dashboard-container__second-section__section-title">Documents</h2>
            <div class="dashboard-container__second-section__section-documents">
                <ul class="dashboard-container__second-section__section-documents__list">
                    <li class="dashboard-container__second-section__section-documents__list__list-item">Nb de docs association :</li>
                    <li class="dashboard-container__second-section__section-documents__list__list-item">Nb de rapports d’activités :</li>
                    <li class="dashboard-container__second-section__section-documents__list__list-item">Nb de docs Prévention spécialisé :</li>
                </ul>
                <button class="dashboard-container__second-section__section-documents__button">
                    <a href="" class="dashboard-container__second-section__section-documents__button__link">Voir plus</a>
                </button>
            </div>

            <h2 class="dashboard-container__second-section__section-title">Gestion des équipes</h2>
            <div class="dashboard-container__second-section__section-team-management">
                <ul class="dashboard-container__second-section__section-team-management__list">
                    <li class="dashboard-container__second-section__section-team-management__list__list-item">Nb d’éducateur totale :</li>
                    <li class="dashboard-container__second-section__section-team-management__list__list-item">Nb de centre au totale :</li>
                </ul>
                <button class="dashboard-container__second-section__section-team-management__button">
                    <a href="{{ path('app_gestion_equipe') }}" class="dashboard-container__second-section__section-team-management__button__link">Voir plus</a>
                </button>
            </div>

        </div>
    </div>

{% endblock %}
