{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    {% include 'layout/header.html.twig' %}

    <div class="main-container">
        <div class="main-container__title-container">
            <h1>Bienvenue dans l'association <br><span>Arrimages</span></h1>
        </div>

        <div class="main-container__video-container">
            <video class="main-container__video-container__video" autoplay muted loop src="{{ asset('assets/IMG/background-video/videotest.mp4') }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            <div class="main-container__video-container__home-btn">
                <a href="#">Nous découvrir</a>
                <a href="#">Nous contacter</a>
            </div>
        </div>

        
    </div>

    {% include 'layout/footer.html.twig' %}

{% endblock %}
