/*start dashboard admin*/

.dashboard-container
  max-width: 1200px
  margin: 0 auto
  padding: 20px

  &__title
    text-align: center
    color: #404041
    margin-bottom: 30px

  &__first-section
    display: inline-block
    vertical-align: top
    width: 49%
    margin-right: 1%

    &__section-title
      color: #404041
      margin: 20px 0

    &__section-blog
      border: 3px solid #EDA402
      border-radius: 10px
      padding: 20px
      width: 45%

      &__list

        &__list-item
          height: 30px

      &__button
        background: #EDA402
        color: white
        border: none
        border-radius: 8px
        padding: 12px 40px
        margin-left: 65px
        cursor: pointer
        display: inline-block

    &__section-sector
      border: 3px solid #EDA402
      border-radius: 10px
      padding: 20px
      width: 35%

      &__button
        background: #EDA402
        color: white
        border: none
        border-radius: 8px
        padding: 12px 40px
        margin-left: 30px
        cursor: pointer
        display: inline-block

  &__second-section
    display: inline-block
    vertical-align: top
    width: 49%
    margin-right: 1%

    &__section-title
      color: #404041
      margin: 20px 0

    &__section-documents
      border: 3px solid #EDA402
      border-radius: 10px
      padding: 20px
      width: 50%

      &__list

        &__list-item
          height: 30px

      &__button
        background: #EDA402
        color: white
        border: none
        border-radius: 8px
        padding: 12px 40px
        margin-left: 65px
        cursor: pointer
        display: inline-block

    &__section-team-management
      border: 3px solid #EDA402
      border-radius: 10px
      padding: 20px
      width: 45%

      &__list

        &__list-item
          height: 30px

      &__button
        background: #EDA402
        color: white
        border: none
        border-radius: 8px
        padding: 12px 40px
        margin-left: 65px
        cursor: pointer
        display: inline-block


/*end dashboard admin*/