<form method="post" action="{{ path('app_jeune_delete', {'id': jeune.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ jeune.id) }}">
    <button class="btn">Delete</button>
</form>
