{% extends 'base.html.twig' %}

{% block title %}Fiche de liaison Jeune{% endblock %}

{% block body %}

    <div class="main-add-jeune">

        {% include 'layout/navbarDashboardAdmin.html.twig' %}

        <div class="container-add-jeune">

            <h1>Créer un nouveau Jeune</h1>

            <div>
                <p>Date : {{ date|date('d/m/Y') }} </p>
            </div>

            {{ include('jeune/_form.html.twig') }}

            <button type="button" onclick="window.location.href='{{ path('app_jeune_index') }}'">Quitter sans sauvegarder</button>

        </div>
    </div>

{% endblock %}
