{% extends 'base.html.twig' %}

{% block title %}New Jeune{% endblock %}

{% block body %}

    <div class="main-add-jeune">

        {% include 'layout/navbarDashboardAdmin.html.twig' %}

        <div class="container-add-jeune">

            <h1>Create new Jeune</h1>

            {{ include('jeune/_form.html.twig') }}

            <a href="{{ path('app_jeune_index') }}">back to list</a>

        </div>
    </div>
{% endblock %}
