{% extends 'base.html.twig' %}

{% block title %}New Jeune{% endblock %}

{% block body %}
    <h1>Create new Jeune</h1>

    {{ include('jeune/_form.html.twig') }}

    <a href="{{ path('app_jeune_index') }}">back to list</a>
{% endblock %}
