.contact-container {
  padding: 30px 50px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.contact-container h2 {
  color: #404041;
  text-transform: uppercase;
}
.contact-container h2 span {
  color: #EDA402;
}
.contact-container__recrute-form h4 {
  color: #404041;
}
.contact-container__recrute-form h4 span {
  color: #EDA402;
}
.contact-container__recrute-form a {
  text-decoration: none;
  color: white;
  border: 3px solid #EDA402;
  background-color: #EDA402;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.contact-container__recrute-form a:hover {
  color: #EDA402;
  background-color: white;
}

.contact-container-infos {
  padding: 30px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contact-container-infos__card {
  background-color: #eeeeee;
  padding: 10px 20px;
  margin: 20px;
  width: 350px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(64, 64, 65, 0.5921568627);
}
.contact-container-infos__card h4 {
  font-size: 18px;
  color: #EDA402;
  text-align: center;
}
.contact-container-infos__card__item {
  width: 350px;
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.contact-container-infos__card__item a {
  text-decoration: none;
  color: black;
}
.contact-container-infos__card__item img {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

.contact-google-map {
  background-color: red;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-google-map h2 {
  font-size: 40px;
}

.contact-main-form {
  padding: 30px 50px;
}
.contact-main-form p {
  font-size: 18px;
}
.contact-main-form p span {
  font-size: 20px;
  color: #EDA402;
}
.contact-main-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.contact-main-form form .input-row-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
}
.contact-main-form form .input-row-container__input {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.contact-main-form form .input-row-container__input input {
  padding: 10px 20px;
  width: 300px;
  border-radius: 10px;
  border: 3px solid #EDA402;
  font-size: 16px;
  outline: none;
}
.contact-main-form form .input-row-container__input label {
  padding: 10px 0;
  font-size: 18px;
}
.contact-main-form form .input-row-container__input label span {
  font-size: 20px;
  color: #EDA402;
}
.contact-main-form form .input-row-container__input textarea {
  padding: 10px 20px;
  width: 80%;
  border-radius: 10px;
  border: 3px solid #EDA402;
  font-size: 17px;
  font-family: "DIN Pro";
  outline: none;
  min-width: 658px;
  max-width: 658px;
  min-height: 100px;
  max-height: 300px;
}
.contact-main-form form button {
  margin-top: 30px;
  padding: 10px 40px;
  border: 3px solid #EDA402;
  border-radius: 10px;
  background-color: #EDA402;
  color: white;
  font-family: "DIN Pro";
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.contact-main-form form button:hover {
  background-color: white;
  color: #EDA402;
}/*# sourceMappingURL=pageContact.css.map */