body
  padding: 0
  margin: 0
  background-color: #F4F4F4
  box-sizing: border-box
  scroll-behavior: smooth
  font-family: "DIN Pro"


@import ./variable

@import ./component/header/header

@import ./component/home/home

@import ./component/pageHistoire/pageHistoire

@import ./component/pageApropos/pageApropos

@import ./component/pageContact/pageContact

@import ./component/pageActualites/pageActualites

@import ./component/footer/footer

@import ./component/services/services

@import ./component/services/pageActionsCollectives

@import ./component/services/pageAcompagnementSocial

@import ./component/services/pageTravailDeRue

@import ./component/services/pageAteliers

@import ./component/banner/banner

@import component/dashboardAdmin/navbarDashboardAdmin

@import component/dashboardAdmin/dashboardAdmin

@import component/dashboardAdmin/blog/listeArticle

@import component/dashboardAdmin/blog/addArticle

@import component/dashboardAdmin/user/listUser

@import component/dashboardAdmin/user/newUser

@import component/dashboardAdmin/documents/listDocuments

@import component/dashboardAdmin/documents/addDocuments

@import component/dashboardAdmin/jeune/listJeune

@import component/dashboardAdmin/jeune/addJeune

@import component/dashboardAdmin/jeune/formJeune

@import component/dashboardAdmin/jeune/showJeune

@import component/dashboardAdmin/secteur/listSecteur

@import component/dashboardAdmin/secteur/addSecteur




