{% extends 'base.html.twig' %}

{% block title %}Edit Secteur{% endblock %}

{% block body %}
    <h1>Edit Secteur</h1>

    {{ include('secteur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_secteur_index') }}">back to list</a>

    <button onclick="window.location.href='{{ path('app_jeune_index') }}'" class="quitter">
        Quitter sans sauvegarder
    </button>
{% endblock %}
