{% extends 'base.html.twig' %}

{% block title %}Modifier un Secteur{% endblock %}

{% block body %}
    <h1>Modifier un Secteur</h1>

    {{ include('secteur/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <button onclick="window.location.href='{{ path('app_jeune_index') }}'" class="quitter">
        Quitter sans sauvegarder
    </button>
{% endblock %}
