{% extends 'base.html.twig' %}

{% block title %}Modifier un Secteur{% endblock %}

{% block body %}
    <h1>Modifier un Secteur</h1>

    {{ include('secteur/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('app_secteur_index') }}">Quitter sans sauvegarder</a>

    {{ include('secteur/_delete_form.html.twig') }}
{% endblock %}
