{% extends 'base.html.twig' %}

{% block title %}Nouveau Secteur{% endblock %}

{% block body %}

<div class="main-add-secteur">

    {% include 'layout/navbarDashboardAdmin.html.twig' %}

    <div class="main-add-secteur__container-add-secteur">

        <h1>Créer un nouveau Secteur</h1>

        {{ include('secteur/_form.html.twig') }}

        <a href="{{ path('app_secteur_index') }}">Quitter sans sauvegarder</a>

    </div>

</div>

{% endblock %}
