{% extends 'base.html.twig' %}

{% block title %}Hello NosServicesController!{% endblock %}

{% block body %}
{% include 'layout/header.html.twig' %}

<div class="main-container">
    <div class="main-container__title-container">
        <h1>Nos services <br><span>Arrimages</span></h1>
    </div>

</div>

{% include 'layout/footer.html.twig' %}
{% endblock %}
