{% extends 'base.html.twig' %}

{% block title %}Modifier Article{% endblock %}

{% block body %}
    <h1>Modifier Article</h1>
    <img src="/uploads/articles/{{ article.image }}">
    {{ include('article/_form.html.twig', {'button_label': 'Enregistrer les modifications'}) }}




    <button onclick="window.location.href='{{ path('app_jeune_index') }}'" class="quitter">
        Quitter sans sauvegarder
    </button>



    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
