{% extends 'base.html.twig' %}

{% block title %}Nouvel Article{% endblock %}

{% block body %}

    <div class="main-add-article">

        {% include 'layout/navbarDashboardAdmin.html.twig' %}

        <div class="main-add-article__container-new">

            <h1>Créer un nouvel Article</h1>

            {{ include('article/_form.html.twig') }}

            <button onclick="window.location.href='{{ path('app_jeune_index') }}'" class="quitter">
                Quitter sans sauvegarder
            </button>

        </div>

    </div>
{% endblock %}
