{% extends 'base.html.twig' %}

{% block title %}Hello ActualitesController!{% endblock %}

{% block body %}

    {% include 'layout/header.html.twig' %}

    {% include 'layout/banner.html.twig' %}

<div class="article_container">

    <a href="#" class="article_container__card">
        <div class="article_container__card__image">
            <img src="{{ asset('assets/IMG/image/arts-plastiques.jpg')}}" alt="">
        </div>

        <div class="article_container__card__content">
            <div class="article_container__card__content__author">
                <p>Auteur | Le 00/00/0000 à 00h00</p>
            </div>

            <div class="article_container__card__content__title">
                <h4>Title Article</h4>
            </div>

            <div class="article_container__card__content__mini-description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, tempora dicta ullam, in nostrum fuga dolores vero sunt illum rerum expedita eos! Eos, ut cum! Possimus, tempora dicta ullam, in nostrum fuga dolores vero sunt illum rerum expedita eos! Eos, ut cum!</p>
            </div>
        </div>
    </a>



    
</div>

{% endblock %}
