{% block body %}

<div class="banner-container">
    <div class="banner-container__title">
        <h1>{{title_one}} <span>{{ title_two }}</span></h1>
    </div>
    <div class="banner-container__img">
        <img src="{{ asset('assets/IMG/banner/topbannersv2.jpg')}}" alt="">
    </div>
</div>

{% endblock %}
