<footer class="footer">
    <div class="footer__container">
        <div class="footer__container__item">
            <h2>à propos</h2>
            <div class="footer__container__item__infos">
                <a href="#">Qui sommes nous ?</a>
                <a href="#">Nos partenaires</a>
                <a href="#">Postuler en ligne</a>
                <a href="#">Téléchargement</a>
            </div>
        </div>
        <div class="footer__container__item">
            <h2>contact</h2>
            <div class="footer__container__item__contact-infos">
                <p>tel : <a href="#">01 23 45 67 89</a></p>
                <p>mail : <a href="#">contact@contact.com</a></p>
                <p>Siège : 73 ter avenue Henri Barbusse,
                    93220 Gagny.</p>
            </div>
        </div>
        <div class="footer__container__item">
            <h2>suivez-nous</h2>

            <div class="footer__container__item__infos">
                <p>IMG : <a href="#">Instagram</a></p>
                <p>IMG : <a href="#">LinkedIn</a></p>
            </div>
        </div>
    </div>

    <div class="footer__credentials">
        <p>Arrimages © 2023 | </p>
        <a href="#">Mentions légales</a> -
        <a href="#">Gestion des cookies</a> -
        <a href="#">Conditions générales d’utilisation</a>
    </div>
</footer>