{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}
    <h1>Modifier un utilisateur</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_index') }}">Retour à la liste</a>

    <button onclick="window.location.href='{{ path('app_jeune_index') }}'" class="quitter">
        Quitter sans sauvegarder
    </button>
{% endblock %}
