{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}

    <div class="main-new-user">

        {% include 'layout/navbarDashboardAdmin.html.twig' %}

        <div class="main-new-user__container-new-user">

            <h1>Créer un nouvel utilisateur</h1>

            {{ include('user/_form.html.twig') }}

            <button onclick="window.location.href='{{ path('app_jeune_index') }}'" class="quitter">
                Quitter sans sauvegarder
            </button>

        </div>

    </div>

{% endblock %}
